html, body {
  font-size: 16px;
  font-family: $nhs_font;
  -webkit-font-smoothing: antialiased;
}

h1, h2 {
  color: $nhs_main;
}

h2.heading-large {
  font-size: 2.5rem;
}

h3, h4, h5, h6 {
  color: $text_dark;
  padding-bottom: 1rem;
  border-bottom: 4px solid $nhs_main;
  font-weight: 600;
}

.news-item-col {
  h5 {
    color: $nhs_main;
    border: none;
  }
}

section {
  padding: 4rem 0;
}

button {
  font-family: $nhs_font !important;
}

.main-body {

  border-right: 1px solid $divider;

  .client-row {
    margin: 3rem 0;
  }

  h2 {
    font-weight: 700;
  }

  h4 {
    border: none;
    color: $nhs_main;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: 0;
  }

  blockquote {
    margin-top: 1.5rem;
    border-color: $nhs_main;
    color: $nhs_main;
    font-style: italic;
    font-size: 1rem;
  }

  table {
    td {
      font-weight: 600;
    }
  }

  a {
    font-weight: 500;
    color: $nhs_main;
  }

  strong {
    color: $text_dark;

    &:first-of-type {
      display: block;
      margin-bottom: 1.5rem;
    }
  }

  ul, img {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  ul {
    padding-left: 20px;

    li {
      margin-top: 0.4rem;
      margin-bottom: 0.4rem;
      color: $nhs_main;

      span, p {
        color: initial;
      }

      strong {
        display: inline-block !important;
        color: $nhs_main;
        font-weight: 400;
        margin: 0 !important;
      }
    }
  }

  img {
    max-width: 100%;
  }

  .member-info {
    border-top: 4px solid $mid_grey_bg;
    border-bottom: 4px solid $mid_grey_bg;
    padding: 1.5rem 0;
    margin: 2rem 0;

    .info-block {
      margin-top: 1.5rem;

      strong {
        color: $nhs_main;
        display: inline-block;
        margin: 0;
      }
    }

    h4 {
      font-size: 1.3rem;
      margin: 0;
    }
  }

  .member-address {
    color: $nhs_main;
    font-weight: 600;
  }

  .hlp-list {
    list-style: none;
    padding-left: 0;

    li {
      border-bottom: 1px solid $grey_bg;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-weight: 600;
    }
  }
}

.sidebar {
  .sidebar-nav-button {
    display: block;
    width: 100%;
    background-color: $nhs_main;
    color: white;
    font-family: $nhs_font;
    margin-bottom: 1rem;
    border-radius: 0;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
    white-space: normal;
    cursor: pointer;
    padding: 1rem;

    &.sidebar-active {
      background-color: $green_bg !important;
      color: white !important;
    }

    &.btn-download {
      background-color: $orange_bg;
    }

    &.has-sub-menu {
      margin-bottom: 0;
    }

    &.sidebar-sub-btn {
      margin-bottom: 1px;
      background-color: $mid_grey_bg;
      color: $nhs_main;
      font-weight: 500;
      font-size: 1.1rem;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;

      &.sidebar-sub-btn-small {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }

  h4 {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-top: 4px solid $mid_light_bg;
  }

  .health-finder-widget {
    img {
      max-width: 100%;
    }

    text-align: center;
    background-color: #f1f1f1;
    padding: 1rem 0;
  }
}
