html, body {
  font-size: 16px;
  font-family: $nhs_font;
  -webkit-font-smoothing: antialiased;
}

@media(max-width: 1200px) {
  html, body {
    font-size: 14px;
  }
}

img {
  max-width: 100%;
}

h1, h2 {
  color: $nhs_main;
}

h2.heading-large {
  font-size: 2.5rem;
}

h3, h4, h5, h6 {
  color: $text_dark;
  padding-bottom: 1rem;
  border-bottom: 4px solid $nhs_main;
  font-weight: 600;
}

.news-item-col {
  h5 {
    color: $nhs_main;
    border: none;
  }
}

section {
  padding: 4rem 0;
}

button {
  font-family: $nhs_font !important;
}

.gmap-container {
  margin-top: 2rem;
  max-width: 100%;

  iframe {
    width: 100%;
    height: 400px;
  }
}

.main-body {

  border-right: 1px solid $divider;

  .client-row {
    margin: 3rem 0;
  }

  h2 {
    font-weight: 700;
  }

  h4 {
    border: none;
    color: $nhs_main;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: 0;
  }

  blockquote {
    margin-top: 1.5rem;
    border-color: $nhs_main;
    color: $nhs_main;
    font-style: italic;
    font-size: 1rem;
  }

  table {
    td {
      font-weight: 600;
    }
  }

  a {
    font-weight: 500;
    color: $nhs_main;
  }

  strong {
    color: $text_dark;

    &:first-of-type {
      display: block;
      margin-bottom: 1.5rem;
    }
  }

  ul, img {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  ul {
    padding-left: 20px;

    li {
      margin-top: 0.4rem;
      margin-bottom: 0.4rem;

      span, p {
        color: initial;
      }

      strong {
        display: inline-block !important;
        color: $nhs_main;
        font-weight: 400;
        margin: 0 !important;
      }
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .member-info {
    border-top: 4px solid $mid_grey_bg;
    border-bottom: 4px solid $mid_grey_bg;
    padding: 1.5rem 0;
    margin: 2rem 0;

    .info-block {
      margin-top: 1.5rem;

      strong {
        color: $nhs_main;
        display: inline-block;
        margin: 0;
      }
    }

    h4 {
      font-size: 1.3rem;
      margin: 0;
    }
  }

  .member-address {
    color: $nhs_main;
    font-weight: 600;
  }

  .blue-text {
    color: $nhs_main;
  }

  .address {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: $nhs_main;
    font-weight: 600;
  }

  .email-addresses {
    margin-top: 1rem;
    margin-bottom: 2rem;
    strong {
      display: inline-block;
      margin: 0;
      color: $nhs_main;
    }
  }

  .hlp-list {
    list-style: none;
    padding-left: 0;

    li {
      border-bottom: 1px solid $grey_bg;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-weight: 600;
    }
  }
}

.sidebar {

  a {
    &:hover {
      text-decoration: none !important;
    }
  }

  .sidebar-nav-button {
    display: block;
    width: 100%;
    background-color: $nhs_main;
    color: white;
    font-family: $nhs_font;
    margin-bottom: 1rem;
    border-radius: 0;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 600;
    white-space: normal;
    cursor: pointer;
    padding: 1rem;

    &.sidebar-active {
      background-color: $green_bg !important;
      color: white !important;
    }

    &.btn-download {
      background-color: $orange_bg;

      i {
        padding-right: 1rem;
      }
    }

    &.has-sub-menu {
      margin-bottom: 0;
    }

    &.sidebar-sub-btn {
      margin-bottom: 1px;
      background-color: $mid_grey_bg;
      color: $nhs_main;
      font-weight: 500;
      font-size: 1.1rem;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;

      &.sidebar-sub-btn-small {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }

  h4 {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-top: 4px solid $mid_light_bg;
  }

  .health-finder-widget {
    img {
      max-width: 100%;
    }

    text-align: center;
    background-color: #f1f1f1;
    padding: 1rem 0;
  }
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  opacity: 0;
  visibility: hidden;



  .modal-box {
    background-color: white;
    z-index: 2;
    line-height: 0;
    opacity: 0;
  }

  &.modal-active {

    animation-name: modalBackgroundFade;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
    opacity: 1;

    .modal-box {
      animation-name: modalBoxScale;
      animation-duration: 400ms;
      animation-fill-mode: forwards;
      animation-delay: 150ms;
    }
  }

  &.modal-out {
    animation-name: modalBackgroundFadeOut;
    animation-duration: 500ms;
    animation-fill-mode: forwards;

    .modal-box {
      animation-name: modalBoxScaleOut;
      animation-duration: 300ms;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes modalBackgroundFade {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes modalBackgroundFadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }

  40% {
    visibility: visible;
    opacity: 1;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes modalBoxScale {
  0% {
    transform: scale(0);
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes modalBoxScaleOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

