header {
  .upper-header {
    margin: 2rem;

    .upper-header-container {
      display: flex;
      justify-content: space-between;

      .pull-left {
        align-self: flex-start;
      }

      .pull-right {
        align-self: flex-end;
      }

      .header-search {
        input[type='text'] {
          position: relative;
          border: 0;
          background-color: $mid_grey_bg;
          border-radius: 0;
          width: 250px;
        }
        button[type='submit'] {
          position: absolute;
          bottom: 0;
          right: 15px;
          border: 0;
          padding: 0.33rem 0.8rem;
          background-color: $nhs_main;
          color: white;

          i {
            -webkit-text-stroke: 0.5px $nhs_main;
          }
        }
      }
    }
  }

  nav {
    background-color: $mid_light_bg;
    border-bottom: 4px solid $nhs_main;

    .current-menu-item {
      background-color: $nhs_main;

      a {
        color: white;
      }
    }

    .current_page_parent {
      background-color: $nhs_main !important;

      .current-menu-item {
        background-color: $green_bg !important;
      }

      a {
        color: white !important;
      }
    }

    li {
      padding: 0.8rem 1rem;
      position: relative;

      &:first-of-type {
        padding: 0.5rem 0.8rem 0.3rem 0.8rem;

        i {
          font-size: 2rem !important;
        }
      }



      .sub-menu {
        display: none;
        position: absolute;
        min-width: 100%;
        z-index: 1;
        list-style: none;
        padding-left: 0;
        left: 0;
        top: calc(100%);
        background-color: $nhs_main;
        width: max-content;
        border-top: 4px solid $nhs_main;

        li {
          &:first-of-type {
            padding: 0.8rem 1rem;
          }

          &:hover, &.active {
            background-color: $green_bg;
          }
        }

      }

      &:hover, &.active {
        background-color: $nhs_main;
        .sub-menu {
          display: block;
        }

        a {
          color: white;
          text-decoration: none;
        }
      }

      a {
        color: $nhs_main;
        font-weight: 500;
        font-size: 1.1rem;
      }

    }

    .navigation-items {
      list-style: none;
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      padding-left: 0;

    }
  }
}