.home-intro {
  border-bottom: 4px solid $nhs_main;

  h2 {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
  }

  p {
    margin-bottom: 4rem;
    font-size: 1.2rem;
    color: $text-dark;
    font-weight: 500;
  }

  .skyline-img {
    margin-bottom: -4px;
    max-width: 100%;
  }
}

.info-box {
  margin-top: 2rem;
}

.find-service {
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f1f1f1;
}

.map-container {
  height:100%;
  width: 100%;
  text-align: center;
  background-color: #eef899;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  a, .map-click-area {
    width: 100%;
    height: 100%;
  }
}

.video-container {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    color: white;
    opacity: 0.8;
    cursor: pointer;
  }
}

.content-row {
  margin-top: 2.5rem;
}

.news-item-col {
  background-color: $mid_light_bg;
  height: 100%;

  h5 {
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 1.4rem;

    a {
      color: $nhs_main;
      
    }
  }
}

.news-item-col-info {
  padding: 1rem;

  h5 {
    a {
      font-weight: 600;
    }
  }

  p {
    margin-top: 1rem;
  }

  .read-more {
    background-color: $nhs_main;
    border-radius: 0;
    color: white;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
  }
}

.blog-meta-info {
  font-size: 0.85rem;
  color: $nhs_main;
  font-weight: 500;
}

.twitter-timeline {
  height: 100%;
}

.twitter-timeline-rendered {
  height: 100% !important;
  min-height: 350px !important;
}