.news-featured-container {
  height: 100%;
  position: relative;
}

.news-featured {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 600px;
  background-color: white;
  padding: 2rem 3rem;

  h3 {
    font-weight: 400;
    color: $nhs_main;
    border: none;
    margin: 0;
  }

  p {
    color: $nhs_main;
  }

  button {
    border-radius: 0;
    background-color: $green_bg;
    color: white;
    font-family: $nhs_font;
    cursor: pointer;
  }
}

.filter-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;

  h2 {
    margin: 0;
    border-bottom: 3px solid $orange_bg;
  }

  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
      margin-right: 1rem;
      display: inline-block;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.news-grid {
  box-sizing: border-box !important;

  .row {
    align-items: flex-start;

    .col-md-6 {
      img {
        margin: 0;
      }
    }
  }

  .news-item-col {
    max-width: 50%;
    width: 49%;
    height: auto;
    margin-bottom: 10px;

    img {
      margin: 0;
      width: 100%;
    }
  }
}

ul.page-numbers {
  padding-left: 0;
}

.page-numbers {
  padding: 0.6rem 0.7rem;
  list-style: none;

  .current, .next, .prev {
    color: white !important;
    background-color: $nhs_main !important;
  }

  li {
    margin-right: 0.2rem;
    cursor: pointer;
    display: inline-block;
  }
}

.news-sidebar {
  h4 {
    color: $nhs_main;
    border: none;
    margin: 0;
  }
}

.news-search {
  input, input:focus {
    position: relative;
    border-radius: 0;
    border: none;
    background-color: $mid_light_bg;
  }

  .search-col {
    padding: 0;
  }

  button {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    background-color: $nhs_main;
    color: white;
    padding: 0.37rem 0.8rem;
  }
}

.sidebar-twitter {
  margin-top: 2rem;

  .twitter-timeline {
    height: 500px !important;
  }
}

.news-body {
  .news-meta {

    border-bottom: 1px solid $mid_grey_bg;

    h5 {
      border: none;
      display: inline-block;
      font-size: 1rem;
      color: $nhs_main;
      padding-bottom: 0;
    }

    .date {
      font-size: 0.9rem;
    }
  }

  .news-title {
    margin-top: 1rem;
    font-weight: 600;
  }

  .news-info {
    margin-top: 1.5rem;
  }

  img {
    float: left;
    margin-top: 0;
  }

  .align-left {
    float: left;
    margin-right: 10px;
  }
  .align-right {
    float: right;
    margin-left: 10px;
  }
}