.resources-block {
  margin-top: 3rem;

  .resource {
    background-color: $resource_bg;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 1px solid $divider;

    img {
      margin: 0;
    }

    h5 {
      color: $nhs_main;
      border: 0;
      margin-bottom: 0;
      padding-bottom: 0.8rem;
    }

    p {
      font-size: 0.9rem;
      margin-bottom: 0.6rem;
    }

    .btn-download {
      border-radius: 0;
      background-color: white;
      border-color: $nhs_main;
      color: $nhs_main;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin-right: 1rem;
      cursor: pointer;
    }
  }
}