.light-grey-bg {
  background-color: $mid_light_bg;
}
.no-padding {
  padding: 0;
}

.no-bullets {
  padding-left: 0 !important;
  list-style: none !important;
}

.alignleft {
  float: left !important;
  margin-bottom: 0 !important;
  padding-right: 1rem !important;
}

.alignright {
  float: right !important;
  margin-bottom: 0 !important;
  padding-left: 1rem !important;
}

.aligncenter {
  float: none !important;
  text-align: center !important;
  margin: 0.7rem auto !important;
  display: block !important;
}

.no-overflow {
  overflow: hidden !important;
}

.pad-top {
  padding-top: 2rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}