/**
  * Partials file for all SCSS variables. Each set is separated by section.
  */

// Colours
$nhs_main: #0072ce;
$light_bg: #fefefe;
$mid_light_bg: #f5f7f7;
$grey_bg: #768692;
$mid_grey_bg: #e8edee;
$green_bg: #78be20;
$orange_bg: #ed8b00;

$text_dark: #425565;

$divider: #bebdbe;

$fb_main: #3f67c0;
$twitter_main: #35b5eb;
$rss_main: #ffa333;


// Fonts
$nhs_font: arial, helvetica, sans-serif;
